body {
    text-align: center;
    
}

#logo {
    margin-top: 80px;
    display: block;
    margin-left: auto;
    margin-left: auto;
 
}

#logo img {
    width: 165px;
    height: 58px;
    
}

#menu {
    margin-top: 60px;
    margin-bottom: 60px;
}

#menu a {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #58595b;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}