* {
    box-sizing: border-box;
  }

@font-face {
    font-family: "jua";
    src: url(../../Coding/fonts/BMJUA_ttf.ttf);
}

body {
    font-family: "jua";
    text-align: center;
    color: #58595b;
    background-color: #f0e8d9;
}

#Title {
    margin-top: 75px;
    font-size: 64px;   
 
}

#subTitle {
    margin-top: 30px;
    font-size: 32px;
    margin-bottom: 75px;
}

.menu {
    border: 0px solid red;
    border-radius: 10px;
    width: 300px;
    height: 370px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-bottom: 50px;
}
.menu img {
    width: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menu_td {
    padding: 20px;
}
.menu_title {
    font-size: 32px;
}

.menu_desc {
    margin-top: 20px;
    margin-bottom: 16px;
    font-size: 16px;
    text-align: left;
}

.menu_pay {
    font-size: 16px;
}

.menu_pay a {
    text-decoration: none;
    color: #00e;
}