/* body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    margin-bottom: 30px;
}  */

/* #navibar ul li a {
    text-decoration: none;
    color: black;
    
}

#navibar ul li {
    line-height: 100px;
    list-style: none;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
}

#navibar {
    background-color: gray;
    height: 100px;
    width: 1040px;
} */

.title {
    border: 2px solid black;
    margin-top: 50px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
}

/* #title_jawjaw {
    border: 2px solid black;
    margin-top: 50px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
} */

.title h1 {
    text-align: center;
}

/* #title_black {
    border: 2px solid black;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#title_black h1 {
    text-align: center;
} */

.map_record {
    border: 2px solid black;
    margin-top: 25px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    height: 600px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    margin-bottom: 20px;
}

.map_title {
    text-align: center;
}

#map_eclipse {
    height: 300px;
    width: 300px;
    background-image: url("../map_image/eclipse.jpg");
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map_poli {
    height: 300px;
    width: 300px;
    background-image: url("../map_image/polipoid.jpg");
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map_fighting {
    height: 300px;
    width: 300px;
    background-image: url("../map_image/fighting.jpg");
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map_largo {
    height: 300px;
    width: 300px;
    background-image: url("../map_image/largo.jpg");
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map_rivolver {
    height: 300px;
    width: 300px;
    background-image: url("../map_image/rivolver.jpg");
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map_accetion {
    height: 300px;
    width: 300px;
    background-image: url("../map_image/accention.jpg");
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map_goodnight {
    height: 300px;
    width: 300px;
    background-image: url("../map_image/goodnight.jpg");
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map_butter {
    height: 300px;
    width: 300px;
    background-image: url("../map_image/butter.jpg");
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map_allegro {
    height: 300px;
    width: 300px;
    background-image: url("../map_image/allegro.jpg");
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map_vermee {
    height: 300px;
    width: 300px;
    background-image: url("../map_image/vermee.jpg");
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map_Neo_arkanoid {
    height: 300px;
    width: 300px;
    background-image: url("../map_image/Neo_arkanoid.jpg");
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map_odyssey {
    height: 300px;
    width: 300px;
    background-image: url("../map_image/odyssey.jpg");
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map_nemesis {
    height: 300px;
    width: 300px;
    background-image: url("../map_image/nemesis.jpg");
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map_fallOut {
    height: 300px;
    width: 300px;
    background-image: url("../map_image/fallOut.png");
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map_frost {
    height: 300px;
    width: 300px;
    background-image: url("../map_image/frost.jpg");
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.map_title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.map_t {
    background-color: gray;
    height: 40px;
}

.map_t h3 {
    line-height: 40px;
    text-align: center;
    color: white;
}

.map_winloss {
    margin-top: 20px;
    border: 2px solid black;
    height: 120px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    overflow: auto;
}

.body_map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 880px;
    margin-bottom: 20px;
    height: 650px;
    overflow-y: scroll;

}

.member_list{
    border: 0px solid red;
    margin-top: 30px;
    position: absolute;
    top: 45px;
    right: 5px; 
    text-align: left;
    width: 150px;
    height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: gray;
    border-radius: 10px;
}
.member_list ul li{
    list-style: none;
    margin-bottom: 10px;
}

.member_list ul li a {
    text-decoration: none;
    color: white;
}

.user_record {
    position: absolute;
    top: 610px;
    left: 50px;
    text-align: center;
    color: red;
    font-weight: bold;
}

.final_league {
    border: 2px solid black;
    margin-top: 50px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.body_map h3 {
    margin-top: 30px;
    text-align: center;
}

.user_final_record {
    position: absolute;
    top: 950px;
    left: 50px;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 13px;
    height: 40px;
    overflow-y: auto;
}

#PlayTypeBox {
    border: 1px solid black;
    width: 800px;
    padding: 10px;
    text-align: center;
    border-radius: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-bottom: 30px;
}

#BTN_AVG, #BTN_Download {
    border: 0px;
    border-radius: 80px;
    margin-top: 20px;
    width: 80%;    
}

input {
    margin-left: 10px;
    margin-right: 10px;
}

.User_video {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}