/* body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    margin-bottom: 30px;
}  */

/* #navibar ul li a {
    text-decoration: none;
    color: black;
    
}

#navibar ul li {
    line-height: 100px;
    list-style: none;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 25px;
}

#navibar {
    background-color: gray;
    height: 100px;
    width: 1040px;
} */

.title {
    border: 2px solid black;
    margin-top: 50px;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 10px;
}

/* #title_jawjaw {
    border: 2px solid black;
    margin-top: 50px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
} */

.title h1 {
    text-align: center;
}

/* #title_black {
    border: 2px solid black;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

#title_black h1 {
    text-align: center;
} */

.map_record {
    border: 2px solid black;
    margin-top: 25px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    height: 600px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    margin-bottom: 20px;
}

.map_title {
    text-align: center;
}

#map_eclipse {
    height: 300px;
    width: 300px;
    background-image: url("../map_image/eclipse.jpg");
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map_poli {
    height: 300px;
    width: 300px;
    background-image: url("../map_image/polipoid.jpg");
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map_fighting {
    height: 300px;
    width: 300px;
    background-image: url("../map_image/fighting.jpg");
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map_largo {
    height: 300px;
    width: 300px;
    background-image: url("../map_image/largo.jpg");
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map_rivolver {
    height: 300px;
    width: 300px;
    background-image: url("../map_image/rivolver.jpg");
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#map_accetion {
    height: 300px;
    width: 300px;
    background-image: url("../map_image/accention.jpg");
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.map_title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.map_t {
    background-color: gray;
    height: 40px;
}

.map_t h3 {
    line-height: 40px;
    text-align: center;
    color: white;
}

.map_winloss {
    margin-top: 20px;
    border: 2px solid black;
    height: 120px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}

.body_map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    margin-bottom: 100px;
    height: 650px;
    overflow: scroll;

}

.member_list{
    border: 0px solid red;
    margin-top: 30px;
    position: absolute;
    top: 45px;
    right: 5px;
    text-align: left;
    width: 150px;
    height: 100px;
    overflow: scroll;
    background-color: gray;
    border-radius: 10px;
}
.member_list ul li{
    list-style: none;
    margin-bottom: 10px;
}

.member_list ul li a {
    text-decoration: none;
    color: white;
}

.user_record {
    position: absolute;
    top: 25px;
    right: 100px;
    text-align: center;
}

