body {
    text-align: center;
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: blanchedalmond;
}

#title {
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100px;
    background-color: gray;
    border-radius: 10px;
}

#title h1 {
    line-height: 100px;
    color: white;
}
#Leage_user_grade, #Leage_user_tribe, #tribe_rate {
    border: 1px solid black; 
    width: 100%;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-bottom: 50px;
}

.Tier_num, .Tribe_num {
    text-align: left;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}

.Tier_num {
    margin-top: 50px;
}

.Tier_num input {
    width: 50px;
}

.Tribe_num input {
    width: 50px;
}

#Tier_title, #Tribe_title {
    background-color: gray;
    color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-weight: bold;

}

input {
    margin-bottom: 10px;
}

#Leage_user_grade div {
    margin-bottom: 10px;
}

.Tribe_num {
    margin-top: 50px;
}

#Leage_user_tribe div {
    margin-bottom: 10px;
}

#Leage_user_tribe {
    height: 180px;
}

#tribe_rate {
    padding: 10px;
    height: 800px;
    width: 770px;
    text-align: left;
    margin-bottom: 50px;
}

#tribe_rate h3 {
    text-align: center;
}

.map_list {
    padding: 10px;
    width: 350px;
    height: 160px;
    display: inline-block;
    margin-left: 10x;
    margin-right: 10px;
    
}

.Priv_Legue_record {
    height: 400px;
    overflow-y: auto;
}
.Priv_Legue_record img{
   text-align: center;
   width: 780px;
}

#Priv_Legue_record_title {
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 20px;
}

/* #rel_record_User {
    margin-top: 20px;
    margin-bottom: 50px;
     border: 1px solid black;
     border-radius: 10px;
     width: 250px;
     height: 25%;
     position: absolute;
     top: 30px;
     right: 10px;
     background-color: cadetblue;
     overflow: auto;
}

#rel_record_User ul li {
    margin-top: 20px;
    margin-bottom: 10px;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    list-style: none;
}

#rel_record_User ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

#rel_record_User h3 {
    font-size: 25px;
} */
