body {
    font-family: 'Noto Sans KR', sans-serif;
  }
  
ul {
  padding: 0px;
}
  .carousel-item {
    background-color: gray;
    height: 400px;
    width: 100%;
    background-size: cover;
    text-align: center;
  }

  .carousel-item.item1 {
    background-image: url('./map_image/fighting.jpg');
    background-size: cover;
    background-position: center center;

  }

  .carousel-item.item2 {
    background-image: url('./map_image/accention.jpg');
    background-size: cover;
    background-position: center center;
  }

  .carousel-item.item3 {
    background-image: url('./map_image/largo.jpg');
    background-size: cover;
    background-position: center center;
  }

  .carousel-item.item4 {
    background-image: url('./map_image/polipoid.jpg');
    background-size: cover;
    background-position: center center;
  }

  .carousel-item.item5 {
    background-image: url('./map_image/rivolver.jpg');
    background-size: cover;
    background-position: center center;
  }

  .carousel-item.item6 {
    background-image: url('./map_image/eclipse.jpg');
    background-position: center center;
  }

  .carousel-item.item7 {
    background-image: url('./map_image/goodnight.jpg');
    background-position: center center;
  }

  .carousel-item.item8 {
    background-image: url('./map_image/butter.jpg');
    background-position: center center;
  }

  .carousel-item.item9 {
    background-image: url('./map_image/allegro.jpg');
    background-position: center center;
  }

  .carousel-item.item10 {
    background-image: url('./map_image/vermee.jpg');
    background-position: center center;
  }

  .carousel-item.item11 {
    background-image: url('./map_image/Neo_arkanoid.jpg');
    background-position: center center;
  }

  .carousel-item.item12 {
    background-image: url('./map_image/odyssey.jpg');
    background-position: center center;
  }

  .carousel-item.item13 {
    background-image: url('./map_image/nemesis.jpg');
    background-position: center center;
  }

  .carousel-item.item14 {
    background-image: url('./map_image/fallOut.png');
    background-position: center center;
  }

  .carousel-item.item15 {
    background-image: url('./map_image/frost.jpg');
    background-position: center center;
  }




  .map_rate {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(202, 36, 36);
  }
  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .intro {
    color: white;
    display: inline-block;
    vertical-align: middle;
  }

  .intro h2 {
    font-size: 32px;
    color: white;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 18px;
  }

  .intro h3 {
    font-size: 22px;
    color: white;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 48px;
  }

  .intro a {
    background-color: skyblue;
    border-radius: 40px;
    padding: 10px, 30px;
    color: black;
    font-weight: bold;
    font-size: 22px;
  }

  .container {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .course {
    display: block;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
  }

  .course:hover {
    text-decoration: none;
  }

  .course .course-img {
    display: block;
  }

  .course .info {
    padding: 10px;
  }

  .course .info h4  {
    font-size: 16px;
    color: #4a4a4a;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .course .info .lecturer {
    font-size: 13px;
    color: #4a4a4a;
  }

  .course .info .lecturer img,
  .course .info .lecturer .name {
    vertical-align: middle;
  }

  #footer {
    margin-top: 5px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #footer img {
    margin-top: 20px;
    width: 50px;
    margin-bottom: 20px;
  }

  .map_info {
    margin-top: 20px;
    font-size: 20px;
  }

  #footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  .League_schedule_title h1 {
    text-align: center;
    color: red;
    font-weight: bold;
    height: 100px;
    line-height: 100px;
  }

  .League_schedule {
    
    text-align: center;
    color: red;
    font-weight: bold;
    height: 80px;
    overflow-y: auto;
    line-height: 80px;
    
  }

  .League_schedule ul li {
    font-size: 15px;
    color: black;
    font-weight: bold;
    list-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    line-height: normal;
  }
  .league_list {
    margin-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
  }

  #list {
    margin: 0px;
  }

  #notice {
    padding: 20px;
    border: 2px solid black;
    border-radius: 40px;
    font-size: 20px;
    position: absolute;
    top: 645px;
    left: 20px;
    background-color: bisque;
    margin: 0px;
    height: 350px;
  }

  #notice ul li {
  list-style: none;
  color: red;
  padding: 0px;
  font-size: 15px;
  
  }

  #notice ul{
    padding: 0px;
    text-align: center;
  }

  #notice h5 {
    font-size: 18px;
    text-align: center;
  }

  .League_view {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    height: 450px;
    width: 850px;
    margin-right: 0px;
  }

  .League_view a {
    text-decoration: none;
    color: black;
  }

  h2 {
    text-align: center;
  }

  .User_video {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.League_view ul {
  padding: 0%;
}

#tonul_img {
  width: 25%;
  height: 20%;
  position: absolute;
  top:670px;
  right: 30px;
}

