* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  body {
    margin: 0;
    background-color: #1BBC9B;
  }
  
  .login-form {
    margin: 15%;
    background-color: #EEEFF1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
  }
  
  .login-form input {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    border: 0 solid black;
  }

  #sbtn {
    background-color: #1BBC9B;
    margin-bottom: 30px;

  }

  .login-form a {
    text-decoration: none;
    color: #9b9b9b;
  }
  .text-field {
    font-size: 14px;
  }
  
  .submit-btn {
    font-size: 14px;
  }

  .submit-btn:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,50);
  }
  
  .links {
  }
  
  .links a {
    font-size: 12px;
  }