/* 가사의 각 부분은 <p> 태그로 나뉘어 있는데요. 클래스를 이용해서 각 부분을 다른 색으로 칠해주세요.

남자가 부르는 부분은 파란색(blue)
여자가 부르는 부분은 핑크색(hotpink)
남녀가 같이 부르는 부분은 연두색(lime)으로 바꿔주세요.
  */

  .man {
    color: blue;
  }

  .wooman {
    color: hotpink;
  }

  .together {
    color: lime;
  }